/* Initial styles */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
	font-family: 'Rockwell', sans-serif;
	line-height: 1.2;
    background-color: white;
}

/* Make everything border-box for easily applying padding and borders with percentile widths. */
* {
    box-sizing: border-box;
}
a {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
    margin-top: 1.7rem;
    text-decoration: none;
}

img {
    max-width: 100%;
}
.content {
	padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}
:focus {
    outline: none;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of my CSS styles */
.top-navigation {
	background-color: #FFF;
    color: #484848;
	position: fixed;
	width: 100%;
	border-bottom: 50px solid #005375;
	z-index: 9999;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 60px;
}
.top-navigation .logo {
	height: 3.375rem;
	width: 7.375rem;
	margin-top: 0.45rem;
    position: fixed;
    left: 75px;
}

.top-navigation .links li.home {
    padding-right: 15px;
}

.top-navigation .logo:hover {
    cursor: pointer;
}

.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
    font-weight: 700;
	letter-spacing: 0.03em;
	margin-top: 1.7rem;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 35px;
}

.top-navigation .links li span {
    color: #005375;
    font-weight: 700;
}

.top-navigation .links a:hover {
	color: #333333;
    cursor: pointer;
}

.top-navigation .number {
   position: fixed;
   font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
   font-size: 18px;
   padding: 16px 0 0 10px;
   left: 66px;
   width: 100%;
   color: white;  
}

.top-navigation .headline {
   position: fixed;
   font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
   font-size: 18px;
   font-style: italic;
   padding: 16px 0 0 10px;
   left: 460px;
   width: 100%;
   color: white;  
}
/* For sections with light gray background color */
.cases-1 {
	background-color: white; 
	padding-bottom: 60px;
}

/* For sections with bright blue background color/white font */
.cases-2 {
	background-color: #506983;
	color: white;
	padding-bottom: 45px;
}

/* Added a section content styling, separate from .content on main.css */
.content-2 {
	font-family: 'Georgia';
	-webkit-font-smoothing: antialiased;
	color: black;
	min-width: 320px;
}

.content-2 h1 {
	background-color: #506983;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: white;
	font-size: 26px;
	text-align: center;
	padding: 150px 0px 20px 0px;
}

.main h1 {
	font-size: 18px;
	padding-top: 5px;
	padding-bottom: 35px;
}

.content-2 h4 {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 700;
	text-align: center;
	margin: 0 auto 0 auto;
	padding: 30px 0px 25px 0px;
}

.content-2 img {
	float: left;
	width: 250px;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	margin-right: 15px;
	margin-left: 40px;
	padding-bottom: 20px;
}

.content-2 p {
	text-align: left;
	font-size: 15px;
	line-height: 21px;
	margin: 0 auto 0 auto;
	padding-bottom: 20px;
	max-width: 500px;
	word-wrap: break-word;
}

.footer .content {
    background-color: #005375;
    font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
    width: 100%;
    border-top: 2px solid #005375;
}

.footer p {
    font-size: 14px;
    text-align: center;
    color: white;
    width: 100%;
    max-width: 1000px;
    padding: 10px 0px 10px 0px;
}

.footer img {
    margin-bottom: -10px;
}