/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}

a:visited { text-decoration: none;}
a:hover { text-decoration: none;}
a:focus { text-decoration: none;}
a:hover, a:active { text-decoration: none;}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
/* ------------------------------------------
  TOPOGRAPHY and LAYOUT
--------------------------------------------- */
body {
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #fff;
  font: normal 100%/1.4 sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* h1 header */
.demo1 {
  font-size: 40px;
  padding-top: 22rem;
  color: white;
  text-align: center;
  font-weight: 700;
  text-shadow: none;  
  text-align: center;
}

h2 {
  padding: 15px 0 15px 0;
  font-size: 32px;
  color: #1B3F8B;
}

.focus-header {
  text-align: center;
}

.border-header {
  padding-top: 130px;
  text-align: center;
  color: white;
}

h3 {
  padding: 15px 0 15px 0;
  font-size: 26px;
  color: #1B3F8B;
}

.cases-header {
  margin: 0 auto;
  margin-top: 35px;
  padding-bottom: 15px;
  max-width: 600px;
  min-width: 300px;
}

.contact-name {
  padding-top: 15px;
  padding-bottom: 10px;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  color: #1B3F8B;
}

h5 {
  font-size: 18px;
  font-weight: 500;
  /*text-transform: uppercase;*/
  /*letter-spacing: 1px;*/
  padding: 10px 0 10px 0;
  color: #1B3F8B;
}

p {
  margin: 0 auto;
  max-width: 600px;
  font-size: 15px;
}

hr {
  text-align: center;
  height: 3px;
  width: 25%;
  margin: 40px auto;
  background-color: #1B3F8B;
}

.btn {
  display: block;
  margin: 50px auto 44px auto;
  padding: 10px 10px;
  width: 200px;
   background-color: white;
  border: 1px solid #005375;
  text-align: center;
  text-decoration: none;
  color: #005375;
  font-size: 18px;
}

.btn:hover {
  background-color: #005375;
  color: white;
}

.email-btn {
  background: transparent;
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #005375;
  border-radius: 3px;
  color: #005375;
  text-decoration: none;
}

/* TOP BORDER FOR ALL PAGES, EXCEPT HOME */
.top-border {
  height: 15rem;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.24),
      rgba(0, 0, 0, 0.24)
    ), url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  color: white;
}

.intro {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.24),
      rgba(0, 0, 0, 0.24)
    ), url('../images/boston.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 36rem;
  overflow: none;
  /*width: 100%;*/
  text-align: center;
  text-shadow: 4px 4px 4px #005375;
}

.intro .fa-chevron-down {
  display: block;
  padding-top: 120px;
  bottom: 0px;
  text-align: center;
  font-size: 36px;
  color: white;
}

.focus {
  margin: 0 auto;
  padding: 50px 15px 0 15px;
  min-width: 300px;
}

.focus hr {
  margin: 10px auto 25px auto;
  width: 10%;
}

.focus .mission {
  font-style: italic;
  font-weight: 500;
}

.focus p {
  padding: 50px 15px;
  font-size: 26px;
  font-weight: 300;
  line-height: 30px;
  color: #005375;
}

.focus .fa-quote-left {
  font-size: 18px;
}

.focus .fa-quote-right {
  font-size: 18px;
}
/* New Image Layout for Home Page */
.home-images {
  position: relative;
  /*width: 100%;*/
  padding-top: 55px;
  padding-bottom: 50px;
}

.home-images .properties {
  text-align: center;
}

.home-images .properties li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.home-images img {
  height: auto;
  width: 300px;
  border: 1px solid #1B3F8B;
}

.home-images h5 {
  position: absolute;
  padding-left: 10px;
  font-family: 'Roboto Slab', arial;
  font-weight: 700;
  color: white;
}

.cycle-slideshow img {
  height: auto;
}

/* About Us Image Grid */
.about-images {
  background: #005375;
  background: -webkit-linear-gradient(right, #005375, #1B3F8B);
  background: -o-linear-gradient(right, #005375, #1B3F8B);
  background: linear-gradient(to left, #005375, #1B3F8B);
  text-align: center;
}

.about-header {
  text-align: center;
  padding: 50px 0 30px 0;
  color: white;
}

.about-images .grid {
  margin: 0 auto;
  padding-bottom: 40px;
}

.grid {
  max-width: 600px;
}

.grid li {
  display: inline-block;
  margin-left: 5px;
}

.grid img {
  height: 78px;
  width: 100px;
}
/* End of About Us Logo Grid */

/* About Us Text */
.about-us {
  margin: 0 auto;
  padding: 0 15px 54px 15px;
  max-width: 680px;
}

.about-us hr {
  height: 3px;
  width: 25%;
  margin: 40px auto;
  text-align: center;
}

.about-us p {
  padding-bottom: 10px;
  max-width: 720px;
}

.criteria {
  margin: 20px auto 0 auto;
  padding: 0 15px 55px 15px;
  max-width: 680px;
}

.criteria h3 {
  padding-top: 44px;
}

.criteria p {
  max-width: 680px;
}

.criteria ul {
   margin: 0 auto;
   padding: 10px 0 10px 100px;
   max-width: 680px;
   min-width: 320px;
   list-style-type: square;
}

.col-group > div {
  padding: 1em;
  margin-bottom: 1em;  
}

@media screen and (min-width: 44em) {
  .col-group {
    overflow: hidden;
  }

  .col-group > div {
    float: left;
    width: 50%;
  }
}

#cases {
  padding: 0 0 20px 0;
}

#cases h3 {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  background: #005375;
  background: -webkit-linear-gradient(right, #005375, #1B3F8B);
  background: -o-linear-gradient(right, #005375, #1B3F8B);
  background: linear-gradient(to left, #005375, #1B3F8B);
  opacity: 0.88;
  color: white;
}

.cases-image {
  float: left;
  padding: 0 15px;
}

.cases-image img {
  height: auto;
  width: 220px;
  margin-top: 30px;
  margin-right: 10px;
}

.cases-content {
  padding: 0 15px;
}

.cases-content h4 {
}

.cases-content p {
  margin-bottom: 10px;
}

.pilot-staff {
  margin: 0 auto;
  padding-bottom: 55px;
  max-width: 680px;
}

.pilot-staff h3 {
  padding-top: 44px;
}

.pilot-staff p {
  padding-bottom: 10px;
  max-width: 680px;
}

#contact-us {
  margin-left: 15px;
  padding-bottom: 30px;
}

#contact-us h2 {
  padding-bottom: 50px;
  text-align: center;
}

#contact-us p {
  margin-bottom: 10px;
}

.col-group > div {
  margin: 0 auto;
  padding: 1em 1em 0;
}

@media screen and (min-width: 50em) {
  .col-group {
    overflow: hidden;
  }
  .col-group > div {
    float: left;
    width: 25%;
  }
}

#map {
  position: absolute;
  top: 400px;
  right: 50px;
  width: 500px;
  height: 400px;
  background-color: #ccc;
}

.footer {
  height: 300px;
  border-top: 2px solid #506983;
  overflow: none;
  background: #005375;
  background: -webkit-linear-gradient(right, #005375, #1B3F8B);
  background: -o-linear-gradient(right, #005375, #1B3F8B);
  background: linear-gradient(to left, #005375, #1B3F8B);
  opacity: 0.88;
  text-align: center;
  color: white;
}

.footer-header {
  margin-top: 24px;
  color: white;
}

.footer-info {
  font-weight: 300;
}

.footer .icons > li {
    border-radius: .25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 10px 5px;
    padding: 0.33rem 0;
    text-align: center;
    font-size: 28px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer .fa-linkedin:hover {
  color: #0086C3;
}

.footer .fa-facebook:hover {
  color: #d3d3d3;
}

.footer .copyright {
  padding-top: 20px; 
  font-size: 12px;
  color: #929292;
}

.footer .bottom-nav {
  padding-bottom: 20px;
}

.footer .bottom-nav > li {
  display: inline;
  font-size: 11px;
  text-transform: uppercase;
}

.footer .bottom-nav > li:hover {
  color: #282828;
}

.bottom {
  position: relative;
  height: 60px;
  background-color: #282828;
}

.bottom .copyright {
  padding-top: 25px;
  font-size: 11px;
  text-align: center;
  color: white;
}

/* Initial mobile design */
@media screen and (max-width: 720px) {
  .nav-collapse a {
    font-size: 18px;
    font-weight: 300;
  }

  .nav-toggle:before {
    font-size: 60px;
  }

  h1 {
    padding-top: 15rem;
  }

  p {
    font-size: 14px;
  }

  .intro {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.24),
      rgba(0, 0, 0, 0.24)
    ), url('../images/boston-opt.jpg');
}

.intro .main h1 {
  font-size: 28px;
}

.intro .fa-chevron-down {
  display: none;
}
  
  .top-border {
    padding: 0 15px;
  }

  .top-border h3 {
    font-size: 22px;
  }

  .focus h3 {
  padding: 0 15px;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 50px;
}

.home-images {
  padding: 0 15px;
}
.home-images .properties img {
  width: 250px;
  height: auto;
  margin-bottom: 10px;
}

 .grid img {
  height: 58px;
  width: 80px;
}

  .criteria p {
  font-size: 18px;
}
  .criteria ul {
  padding-left: 50px;
}
  .pilot-staff {
    padding: 0 15px;
  }

  #map {
  display: none;
}

.footer {
  padding: 0 15px;
}

.footer .bottom-nav {
  display: none;
}

.bottom {
  padding: 0 15px;
}
}

@media screen and (max-width: 480px) {
  .btn {
    font-size: 14px;
  }

  .focus hr {
    margin-bottom: 0;
  }

  .focus p {
    font-size: 16px;
    line-height: 22px;
    padding-top: 30px;
  }
}